/* Top Bar Section */
.social-media-icons{
	background: green;
	height: 30px;
}
.search{
	background: yellow;
	height: 30px;
}

/* Menus */
.main-menu ul li, .footer-menu ul li{ 
	display: inline; 
}

/* Formatando as Thumbs */
/* Texto em volta da imagem */
.wp-post-image{
	float: left;
	margin: 5px 15px 10px 0;
}